<div class="card" style="margin-top:30px">
    <h1 class="text-center p-5">All Sub Categories</h1>
    <div class="text-center">
        <button class="btn btn-primary mb-3" style = "background: #4c0420;" (click)="redirectToSubCategoryForm()">Add a new sub category</button>
      </div>
    <div class="container p-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sub Category Id</th>
                    <th scope="col">Sub Category Name</th>
                    <th scope="col">Category Name</th> 
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subcategory of subCategory">
                    <td>{{subcategory.subCategoryId}}</td>
                    <td>{{subcategory.subCategoryName}}</td>
                    <td>{{subcategory.category.categoryName}}</td> 
                    <td style = "color: #4c0420;">
                        <i class="fas fa-trash-alt" style="cursor: pointer;" (click)="deleteSubCategory(subcategory.subCategoryId)"></i>
                      </td>
                      
            </tbody>
        </table>
    </div>
</div>
<div class="text-center mt-3">
    <button class="btn btn-primary" style = "background: #4c0420;"  (click)="goBack()">Back</button>
  </div>