.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; 
    width: 100%;
}
.center-btn {
    display: flex;
    justify-content: center;
}