<app-seller-header></app-seller-header>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="p-3">Seller Dashboard</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card p-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button class="btn border-0" (click)="goToAddProduct()">
                                Add Product
                            </button>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button class="btn border-0" (click)="goToViewCategories()">
                                View Categories
                            </button>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button class="btn border-0" (click)="goToViewSubCategories()">
                                View Sub Categories
                            </button>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button class="btn border-0" (click)="goToViewProducts()">
                                View My Products
                            </button>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button class="btn border-0" (click)="goToViewOrders()">
                                View Orders
                            </button>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button class="btn border-0" (click)="goToViewPayments()">
                                View Payments
                            </button>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
