<nav class="navbar navbar-expand navbar-dark px-2">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-9">
                <a class="navbar-brand px-4" href="#" style="font-size: 40px;">Quit Queue</a>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <div class="profile-logo dropstart">
                    <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" style="margin-top:12px">
                       <span style="font-size:15px"> Admin</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <button class="btn border border-0" (click)="addAdmin()">
                                Add Admin
                            </button>
                        </li>
                        <li>
                            <button class="btn border border-0" (click)="viewProfile()">
                                View Profile
                            </button>
                        </li>
                        <li>
                            <button class="btn border border-0" (click)="Logout()">
                                LogOut
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

