<!-- <app-customer-form></app-customer-form> -->
<!-- <app-seller></app-seller> -->
<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->
<!-- <div *ngIf="isAuthenticated  is true">
    <app-customer-main></app-customer-main>
   </div>  

  <div *ngIf="isAuthenticated  is false"> 
   <app-login></app-login>
</div> -->
    <!-- <router-outlet><app-login></app-login></router-outlet>
  </div>
   <ng-template #notAuthenticated>
   <app-login></app-login>
  </ng-template> --> 
  <!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>
<!-- <router-outlet name="customerOutlet"></router-outlet> -->