<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <app-page-title [title]="Profile"></app-page-title>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><strong>Customer Id:</strong></td>
                            <td>{{customerId}}</td>
                        </tr>
                        <tr>
                            <td><strong>Name:</strong></td>
                            <td>{{ customerName }}</td>
                        </tr>
                        <tr>
                            <td><strong>Email:</strong></td>
                            <td>{{ email }}</td>
                        </tr>
                        <tr>
                            <td><strong>Phone Number:</strong></td>
                            <td>{{contactNumber}}</td>
                        </tr>
                        <tr>
                            <td><strong>Address:</strong></td>
                            <td>{{ address }}</td>
                        </tr>
                        <tr>
                            <td><strong>Username:</strong></td>
                            <td>{{ username }}</td>
                        </tr>
                        <tr>
                            <td><strong>Role:</strong></td>
                            <td>{{role}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary" style="background: #4c0420;" (click)="navigate()"> Go Back!</button>
                <!-- <button class="btn btn-primary" style="background: #4c0420;" [routerLink]="'update-profile'">Update Profile</button> -->
            </div>
        </div>
    </div>
</div>
